services:
  app-db-C:
    image: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=test
    networks:
      - shared-net

  task-finalization:
    build: .
    ports:
       - "8082:8082"
    networks:
      - shared-net
    environment:
      - DATASOURCE_URL=jdbc:postgresql://app-db-C:5432/test
      - DATASOURCE_USERNAME=admin
      - DATASOURCE_PASSWORD=admin
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SCHEMA_REGISTRY_URL=http://schema-registry:8081
      - RABBITMQ_HOST=rabbit
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - OAUTH_SERVER_ISSUER_URI=http://keycloak:8080/realms/my-realm
      - OAUTH_SERVER_JWKS_URI=http://keycloak:8080/realms/my-realm/protocol/openid-connect/certs
      - OAUTH_SERVER_RESOURCE_ID=oauth-client
      - OAUTH_JWT_PRINCIPAL_ATTRIBUTE=preferred_username
    depends_on:
      - app-db-C


networks:
  shared-net:
    name: distributed-task-processing-network
    external: true