services:
  app-db-C:
    image: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=test
    networks:
      - shared-net

  task-finalization:
    build: .
    ports:
       - "8082:8082"
    networks:
      - shared-net
    environment:
      - DATASOURCE_URL=jdbc:postgresql://app-db-C:5432/test
      - DATASOURCE_USERNAME=admin
      - DATASOURCE_PASSWORD=admin
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SCHEMA_REGISTRY_URL=http://schema-registry:8081
    depends_on:
      - app-db-C


networks:
  shared-net:
    name: distributed-task-processing-network
    external: true