name: Run tests with coverage

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Run unit tests
        run: mvn clean package

      - name: Run integration tests
        run: mvn verify -DskipUts=true